.product-viewer {
  margin-top: 50px;
  font-family: 'open sans', sans-serif;
  color: #333; }

.composed-view {
  width: 1050px;
  margin: 0 auto;
  overflow-y: hidden; }

.view-center {
  width: 900px;
  overflow-y: auto;
  float: left;
  margin-right: 5px; }

.current-item {
  background-color: #cecfd1;
  padding: 20px;
  text-align: center; }
  .current-item .item-name {
    padding: 0;
    margin: 0;
    font-size: 25px;
    text-align: left; }
  .current-item .item-image {
    margin: 0 auto; }

.child-list {
  list-style: none;
  margin: 0;
  padding: 3px;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 400px; }

.title {
  text-align: left;
  margin: 15px 3px 2px; }

.child-item {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
  background-color: #cecfd1;
  color: #fff;
  display: inline-block;
  white-space: normal;
  padding: 5px;
  margin-right: 5px;
  border-radius: 2px; }
  .child-item.is-current-future {
    color: #000;
    box-shadow: 0 0 5px #000;
    text-shadow: 0 0 4px #fff, 0 0 2px #fff; }
  .child-item .child-name {
    position: absolute;
    bottom: 3px;
    margin: 0;
    width: 100px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden; }
  .child-item .child-image {
    width: 100px;
    height: auto; }

.path-list {
  box-sizing: border-box;
  width: 1050px;
  height: 38px;
  margin: 20px auto;
  padding: 4px 4px 4px 400px;
  text-align: left;
  list-style: none;
  overflow-y: hidden;
  white-space: nowrap; }

.path-list-element {
  background-color: #cecfd1;
  border: 1px solid #999ca0;
  border-radius: 3px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  width: 200px;
  height: 30px;
  font-size: 18px;
  line-height: 30px;
  display: inline-block;
  margin: 0 10px 5px; }
  .path-list-element.is-current {
    color: #000;
    border-color: #fff;
    box-shadow: 0 0 3px #000; }

.history-list {
  width: 50px;
  min-height: 1px;
  list-style: none;
  padding: 0;
  margin: 0 10px 0;
  float: left; }

.history-item {
  width: 50px;
  height: 50px;
  margin-bottom: 5px; }
  .history-item .history-image {
    width: 100%;
    height: auto; }
