$grey: #cecfd1;

.product-viewer {
	margin-top: 50px;
	font-family: 'open sans',sans-serif;
	color: #333;
}

.composed-view {
	width: 1060px;
	margin: 0 auto;
	overflow-y: hidden;
}
@import 'animations';

@import 'view-center';
@import 'child-list';
@import 'path-list';
@import 'history-list';